<section>


    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="search-div mob">
                    <input class="form-control search-input-1 search-input-mobile" onkeydown="charCount()" placeholder="search"> <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="toast-padding">
        <div class="toasts">
            <div class="toast-header" style="background-color: transparent;">
                    
                            <div class="card">
                                <div class="card-body carousel-card-body">
                                    <img class="img-card" src="assets/checked.png">
                                    <p class="card-text">Lorem Ipsum is simply dummy text </p>

                                </div>

                            </div>
                        </div>
                    
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <div class="card-title">
                            <img src="assets/profile-image.png">
                            <div> <span class="user-name"> Jaden wilsom </span> <br>
                                <span class="user-timing">May 05, 2022 09:00 pm</span> </div>

                        </div>
                        <div class="fakeimg">
                           <span> <img src="assets/kalen-emsley-Bkci_8qcdvQ-unsplash.png"
                                class="img-fluid"> </span>
                               <!-- <div class="play-btn"> <img src="assets/play (1).png" alt="" ></div> -->
                            </div>
                           
                        <div class="pt-3">
                            <p><span class="para-heading-home">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry.</span></p>
                            <p  class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining essentially unchanged.</p>
                        </div>
                  <div class="input-check">
                    <input type="checkbox" id="myCheck" checked >
                    <label for="myCheck" class="paragraph ps-2">Use my profile picture instead of the video</label> 
                  </div>
                        <div class="pt-3 your-contri2">
                       
                            
                            <button class="btn discard-btn" style="color: white;">Delete</button>
                               
                              <a routerLink="/dashboard/contribution-submit">  <button class="btn contacts-btn">Submit</button></a>
                        </div>
                    </div>
                </div>

            </div>
         
        </div>

    </div>


</section>

<footer>
    <p>Copyright Omgiva 2022</p>
  </footer>