<section>
  <div class="d-lg-flex half">

    <div class="bg order-1 order-md-2 mob-pad-top">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-11 col-lg-10 col-xl-10 col-md-8 mob-hero-img" >
            <a routerLink="/"><span class="logo mob"> <img src="assets/logo.png" class="img-fluid" /> <span class="mob-logo-text"> OMGIVA </span></span></a>
            <img src="assets/login_bg.svg" class="img-fluid hgt-img mob-img" alt="Sample image">
          </div>
        </div>
      </div>

    </div>
    <div class="contents order-2 order-md-1">
      <div class="container">
        <div class="row  justify-content-center">

          <div class="col-11 col-lg-10 col-xl-10 col-md-8 mob-pad-top2">
           <a  routerLink="/"><span class="logo mb-5 web"> <img src="assets/logo.png" class="img-fluid" /> OMGIVA</span> </a> 
            <h3 class="login-head">Log in to Omgiva</h3>
            <p class="mb-4 sub-heading">Lorem Ipsum is simply dummy text of the printing and <br class="web"> typesetting industry.</p>
            <form class="text-left ng-untouched ng-pristine ng-invalid" role="form" [formGroup]="loginForm"
            (ngSubmit)="login(loginForm.value)">
              <div class="form-outline mb-3">
                <label class="form-label" for="form3Example3">Email address</label>
                <input type="email" id="form3Example3" formControlName="emailId" class="form-control input-auth" placeholder="Enter your email here" required [ngClass]="{ 'is-invalid': submitted && loginGetter.emailId.errors }"/>
                <div *ngIf="submitted && loginGetter.emailId.errors" class="invalid-feedback">
                  <div *ngIf="loginGetter.emailId.errors.required"> Email is required </div>
                  <div *ngIf="loginGetter.emailId.errors.pattern"> Invalid Email  </div>
                </div>
              </div>


              <div class="form-outline mb-1">
                <label class="form-label" for="form3Example4">Password</label>
                <input type="password"  formControlName="password" id="form3Example4" class="form-control input-auth"
                  placeholder="Enter your password here" [ngClass]="{ 'is-invalid': submitted && loginGetter.password.errors }"/>
                  <div *ngIf="submitted && loginGetter.password.errors" class="invalid-feedback">
                    <div *ngIf="loginGetter.password.errors.required"> Password is required </div>
                  </div>
              </div>
              <div class="d-flex justify-content-end">

                <a routerLink="/forgot-password">Forgot password?</a>
              </div>
              <div class=" button-div d-grid text-center text-lg-start mt-4">
               <a  class="login-anchor"> 
                <button type="submit" class="btn login-btn btn-block" *ngIf="!spinner">  Login</button> 
                <button type="submit" class="btn login-btn btn-block" *ngIf="spinner">  Login <i class="fas fa-spin fa-spinner" ></i> </button> 
              </a> 
                <p class="login-help text-center mt-2 mb-2"><a  routerLink="/need-help">Need Help?</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>