  <div class="container header-container mob p-0">
    <div class="row">
      <div class="col-12 flexible-header">
        <div class="first-sec">
          <!-- <span class="logo mb-5 mob"> <img src="assets/logo.png" class="img-fluid" /> OMGIVA</span>
                 -->
          <!-- <button>Menu</button> -->
          <div class="topnav">
            <!-- <a href="#home" class="active">Logo</a> -->
            <a href="javascript:void(0);" class="icon" (click)="openNav()">

              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </a>
            <div id="mySidenav" class="sidenav">
              <div class="row">
                <div class="col-4">
                  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                </div>
                <div class="col-8 closebtnimg">
                  <a href="index.html" class="logo-anchor"> <img src="assets/logo.png" class="img-fluid " /> <span
                      class="omgiva-text"> OMGIVA</span></a>
                </div>
              </div>
              <a href="home.html" class="active"> <img src="assets/icon_home.svg" class="tab-img" /><span>Home</span> <i
                  class="fa fa-angle-right"></i> </a>
              <a href="chat.html"> <img src="assets/icon_message.svg" class="tab-img" /><span>Chat</span> <i
                  class="fa fa-angle-right "></i></a>
              <a href="directory-grid.html"> <img src="assets/icon_contact.svg" class="tab-img" /><span>Directory</span>
                <i class="fa fa-angle-right "></i></a>
              <a href="group.html"> <img src="assets/icon_multiuser.svg" class="tab-img" /><span>Group</span> <i
                  class="fa fa-angle-right "></i></a>
              <hr>
              <a routerLink="dashboard/notification"> <span>Notification Setting</span> <i class="fa fa-angle-right"></i>
              </a>
              <a href="about.html"> <span>About</span><i class="fa fa-angle-right"></i> </a>
              <a href="terms-of-service.html"> <span>Terms of Service</span><i class="fa fa-angle-right "></i>
              </a>
              <a href="index.html"> <span>Logout</span> <i class="fa fa-angle-right "></i></a>
            </div>

          </div>
        </div>
        <div class="tab-icons-holder second-sec">
          <a href="index.html" class="logo-anchor-1"> <span class="mob-logo-home"> <img src="assets/logo.png"
                class="img-fluid" /> <span class="omgiva-text"> OMGIVA </span> </span></a>

        </div>
        <div class="third-sec">
          <!-- <div class="search-div">
                    <input class="form-control search-input" placeholder="search"> <i class="fa fa-search"></i>
                </div> -->
          <div>
            <div class="dropdown">
              <button class="dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img class="pro-icon" src="assets/profile-image.png"> </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="/dashboard/home/profile">Edit Profile</a></li>
                <li><a class="dropdown-item" routerLink="/dashboard/notification">Notification Setting</a></li>
                <li><a class="dropdown-item">About </a></li>
                <li><a class="dropdown-item" >Terms of Service </a></li>
                <li><a class="dropdown-item">Logout</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container header-container web">
    <div class="row ">
      <div class="col-12 flexible-header">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xl-4 col-sm-3 col-3">
            <div class="first-sec">
              <span class="logo web logo-home-pos"> <a href="index.html" class="logo-anchor"> <img src="assets/logo.png"
                    class="img-fluid" /> <span class="omgiva-text"> OMGIVA </span> </a></span>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-xl-4 col-sm-5 col-5">
            <div class="tab-icons-holder second-sec">
              <a routerLink="/dashboard/home/main"  routerLinkActive="active"  > <img src="assets/icon_home - Copy.svg" class="tab-img" />
                <h1 class="border"></h1>
              </a>
              <a routerLink="/dashboard/chat" routerLinkActive="active" > <img src="assets/icon_message.svg" class="tab-img" /> 
                <h1 class="border"></h1></a>
              <a routerLink="/dashboard/directory"  routerLinkActive="active"  > <img src="assets/icon_contact.svg" class="tab-img" />
                <h1 class="border"></h1> </a>
              <a routerLink="/dashboard/group"  routerLinkActive="active"  > <img src="assets/icon_multiuser.svg" class="tab-img" /> 
                <h1 class="border"></h1> </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-xl-4 col-sm-3 col-3">
            <div class="third-sec">
              <div class="search-div">
                <input class="form-control search-input-nav" onkeydown="charCount()" placeholder="search"> <i
                  class="fa fa-search"></i>
              </div>
              <div class="profile-div">
                <div class="dropdown">
                  <button class="dropdown dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="pro-icon" src="assets/profile-image.png"> <i class="fa-solid fa-angle-down down-icon"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" routerLink="/dashboard/home/profile">Edit Profile</a></li>
                    <li><a class="dropdown-item" routerLink="/dashboard/notification">Notification Setting</a></li>
                    <li><a class="dropdown-item" >About </a></li>
                    <li><a class="dropdown-item" >Terms of Service </a></li>
                    <li><a class="dropdown-item">Logout</a></li>
                  </ul>
                </div>
  
              </div>
            </div>
          </div>
        </div>
  
  
  
      </div>
    </div>
  
  </div> 