<section>
 

  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="search-div mob">
          <input class="form-control search-input-1 search-input-mobile" placeholder="search"> <i
            class="fa fa-search"></i>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="leftcolumn">
          <div class="card buttons-holder notification-setting">
            <div class="pb-3">
              <h5 style="color: #000000;" class="mb-3">Settings</h5>
              <hr>
              <div class="row ">
                <div class="col-md-12 switch-col">
                  <label>New post</label>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12 switch-col">
                  <label>Post you commented on</label>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 switch-col">
                  <label>Post you liked</label>
                  <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 switch-col">
                  <label>New comments on your post</label>
                  <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12 switch-col">
                  <label>New likes on post</label>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</section>
<footer>
  <p>Copyright Omgiva 2022</p>
</footer>