<section>
    

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="search-div mob">
                    <input class="form-control search-input-1 search-input-mobile" onkeydown="charCount()" placeholder="search"> <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
        <div class="">
        <div class="toast">
            <div class="toast-header">
                    
                            <div class="card ">
                                <div class="card-body carousel-card-body">
                                    <img class="img-card" src="assets/checked.png">
                                    <p class="card-text">Lorem Ipsum is simply dummy text </p>

                                </div>

                            </div>
                        </div>
                    
                </div>
            </div> 
       
        <div class="container" *ngIf="!loader">
            <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <div class="card-title" >
                            <img class="image-avatar" *ngIf="feed.author_avatar_url_large"  src="{{feed.author_avatar_url_large}}">
                            <img class="image-avatar" *ngIf="!feed.author_avatar_url_large"  src="assets/vuesax-bold-gallery.svg">
                            <div> <span class="user-name"> {{feed.author_name}} </span> <br>
                              <span class="user-timing">{{feed.content_time_created | date}}</span> </div>
                
                          </div>
                          
                            <div class="play-icon" *ngIf="!displayVideo" >
                               <span (click)="onPlay()"><i class="fas fa-play-circle"  *ngIf="feed.content_type == 'voice_post' && !displayVideo "  style="font-size: 33px; color: #fff; cursor: pointer;"></i></span> 
                               <span class="views-styl" *ngIf="feed.content_type == 'voice_post' && !displayVideo "><i class="fas fa-eye"></i>  {{views || "NA"}}</span>
                                <div class="fakeimg" >
                                    <img src={{feed.cover_image}}  class="img-fluid"  >
                                </div>
                            </div>
                        
                          <div class="fakeimg2" *ngIf="feed.content_type == 'voice_post'&& displayVideo"><video src={{feed.video_url}} type="video/mp4" class="videoStyl" muted controls></video></div>

                           
                          <div class="pt-3">
                            <p><span class="para-heading-home">{{feed.title}}</span></p>
                            <p class="paragraph" [innerHtml]="feed.description"></p>
                          </div>
                  <div class="input-check">
                    <input type="checkbox" id="myCheck" checked >
                    <label for="myCheck" class="paragraph ps-2">Use my profile picture instead of the video</label> 
                  </div>
                        <div class="pt-3 your-contri2">
                       
                            
                            <button class="btn discard-btn">Discard</button>
                                <button class="btn post-btn">Redo</button>
                               <a routerLink="/dashboard/contribution-confirmed"> <button class="btn contacts-btn ">Keep</button> </a> 
                        </div>
                    </div>
                </div>
                

            </div>

            
         
        </div>

        <div class="container" *ngIf="loader">
            <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <div class="card-title" >
                            <div class="image-avatar placeholder-loader-img" ></div>
                            <div style="display: flex;"> <span class="user-name placeholder-loader-title"> </span> <br>
                              </div>
                
                          </div>
                          
                          <div class="fakeimg2 placeholder-loader"></div>

                           
                          <div class="pt-3">
                            <p><span class="para-heading-home placeholder-loader-title"></span></p>
                            <p class="paragraph placeholder-loader-title" ></p>
                          </div>
                  <div class="input-check placeholder-loader-title">
                    
                  </div>
                        <div class="pt-3 your-contri2 placeholder-loader-title">
                       
                            
                            
                        </div>
                    </div>
                </div>
                

            </div>
        </div>

    </div>
    

</section>