<section>
    

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="search-div mob">
                    <input class="form-control search-input-1 search-input-mobile" onkeydown="charCount()" placeholder="search"> <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
        <div class="">
        <div class="toast">
            <div class="toast-header">
                    
                            <div class="card ">
                                <div class="card-body carousel-card-body">
                                    <img class="img-card" src="assets/checked.png">
                                    <p class="card-text">Lorem Ipsum is simply dummy text </p>

                                </div>

                            </div>
                        </div>
                    
                </div>
            </div> 
       
        <div class="container">
            <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <div class="card-title">
                            <img class="image-avatar" src={{feed.author_avatar_url_large}}>
                            <div> <span class="user-name"> {{feed.author_name}} </span> <br>
                              <span class="user-timing">{{feed.content_time_created | date}}</span> </div>
                
                          </div>
                          <div class="fakeimg"><img src={{feed.cover_image}} class="img-fluid"></div>

                           
                          <div class="pt-3">
                            <p><span class="para-heading-home">{{feed.excerpt}}</span></p>
                            <p class="paragraph">{{feed.description}}</p>
                          </div>
                  <div class="input-check">
                    <input type="checkbox" id="myCheck" checked >
                    <label for="myCheck" class="paragraph ps-2">Use my profile picture instead of the video</label> 
                  </div>
                        <div class="pt-3 your-contri2">
                       
                            
                            <button class="btn discard-btn">Discard</button>
                                <button class="btn post-btn">Redo</button>
                               <a routerLink="/dashboard/contribution-confirmed"> <button class="btn contacts-btn ">Keep</button> </a> 
                        </div>
                    </div>
                </div>
                

            </div>

            
         
        </div>

    </div>
    

</section>