<section>


  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="search-div mob">
          <input class="form-control search-input-1 search-input-mobile" placeholder="search"> <i class="fa fa-search"></i>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="leftcolumn">
          
            
            <div class="web">
            <div class="row  profile-grid">
              
              <div class="col-md-12">
                  <div class="card profile-edit-card">
                      <div class="card-img-block">
                          <img class="img-fluid" src="assets/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.png" alt="Card image cap">
                          <span class="profile-cam">
                              <img class="img-fluid" src="assets/vuesax-bold-camera.svg">
                          </span>
                          
                      </div>
                      <div class="card-body">
                         <span class="profile"> <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-7@2x.png" alt="profile-image" />
                          <span class="profile-card-title">
                          <h5 class="card-title">John Doe</h5> 
                          <p>Update your photo and personal details.</p>
                      </span>
                      </span>
                          
                          
                          <div class="profile-edit-btn">
                              <button class="btn btn-cancel">Cancel</button>
                              <button class="btn btn-proceed">Save</button>
                          </div>
                      </div>
                  </div>
                 
                  
              </div>
              
              
                  
              </div>
              
              
              
              
              
            </div>
            
            <div class="mob p-0">
              <div class="row  profile-grid">
                
                <div class="col-md-12">
                  
                      <div class="card profile-card-mob">
                          <div class="card-img-block">
                              <img class="img-fluid" src="assets/back-3.png" alt="Card image cap">
                          </div>
                          <div class="card-body pt-5">
                              <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-10@2x.png" alt="profile-image" class="profile"/>
                              <span class="profile-cam">
                                  <img class="img-fluid" src="assets/vuesax-bold-camera.svg">
                              </span>
                              <h5 class="card-title">John Doe</h5>
                              <p class="card-text">Update your photo and personal details.</p>
                          </div>
                      </div>
                </div>                      
                </div>
              </div>
            <div class="card buttons-holder  mt-4">
              <div class="pb-3">
                  <h5 style="color: #000000;" class="mb-3">Profile</h5>
                  <div class="row form-row">
                      <div class="col-md-6 form-col"> 
                          <label class="pb-3">Name</label>
                          <input type="text" placeholder="Enter Name here" class="form-control">
                      </div>
                      <div class="col-md-6 form-col">
                          <label class="pb-3">Job Title</label>
                          <input type="text" placeholder="Job Title here" class="form-control">
                       </div>
                      </div>
                       <div class="row">
                      <div class="col-md-6 form-col">
                          <label class="pb-3">Orginaization</label>
                          <input type="text" placeholder="Enter orginaization" class="form-control">
                      </div>
                      <div class="col-md-6 form-col">
                          <label class="pb-3">Department</label>
                          <input type="text" placeholder="Job Department here" class="form-control">
                      </div>
                  
                  </div>
                </div>
                
          </div>
          <div class="profile-edit-btn mob">
              <button class="btn btn-cancel">Cancel</button>
              <button class="btn btn-proceed">Save</button>
          </div>
          
            
          
            
         
          </div>

        </div>
        
      </div>

    </div>
  

</section>