<section>


    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="search-div mob">
            <input class="form-control search-input-1 search-input-mobile" placeholder="search"> <i class="fa fa-search"></i>
          </div>

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="leftcolumn">
              <div class="card buttons-holder notification-setting-page">
                <div >
                   <img src="assets/notification-setting.svg" class="img-fluid">
                <p *ngIf="details" [innerHtml]="details.body"> </p> 
                <p  *ngIf="!details" class="place-loader">  </p>    
                <p  *ngIf="!details" class="place-loader">  </p>    
                <p  *ngIf="!details" class="place-loader">  </p>    
                <p  *ngIf="!details" class="place-loader">  </p>    
                <p  *ngIf="!details" class="place-loader">  </p>    
                </div>
                  
            </div>
            </div>

          </div>
          
        </div>

      </div>


  </section>
  <footer>
    <p>Copyright Omgiva 2022</p>
  </footer>
  