<section>
  

    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="search-div mob">
            <input class="form-control search-input-mobile" placeholder="search"> <i class="fa fa-times"></i>
          </div>

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="leftcolumn">
            <div class="card buttons-holder">
              <div class="pb-3">
                <p style="color: #000000;">Search Results</p>
                <div style="display: flex;"> <a routerLink="/dashboard/search-contact"> <button
                      class="btn post-btn">Contacts</button></a>
                  <a routerLink="/dashboard/search-post"> <button  class="btn contacts-btn">Post</button> </a>
                </div>
              </div>
              <div class="table-responsive">
                <div class="row row-contents">
                  <div class="col-lg-6 col-sm-12 col-md-6 col-12 col-xl-6 left ">
                    <div class="back-col">
                      <div class="card back-col">
                        <div class="card-title">
                          <img src="assets/profile-image.png">
                          <div>
                            <span class="user-name"> Sai Parikshith </span> <br>
                            <span class="user-timing"> 2 days ago</span>
                          </div>
                        </div>
                        <div class="fakeimg"><img src="assets/back-1.png"
                            class="img-fluid"></div>
                        <div class="pt-3">
                          <p style="margin: 0px !important"><span class="para-heading-home">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span></p>
                          <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                       
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-6 col-sm-12 col-md-6 col-12 col-xl-6 right">
                    <div >
                      <div class="card back-col">
                        <div class="card-title">
                          <img src="assets/profile-image.png">
                          <div>
                            <span class="user-name"> Sai Ganesh </span> <br>
                            <span class="user-timing">2 days ago</span>
                          </div>
                        </div>
                        <div class="fakeimg"><img src="assets/back-3.png"
                            class="img-fluid"></div>
                        <div class="pt-3">
                          <p style="margin: 0px !important"><span class="para-heading-home">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span></p>
                          <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                       
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-6 col-sm-12 col-md-6 col-12 col-xl-6 left ">
                    <div class="back-col">
                      <div class="card back-col">
                        <div class="card-title">
                          <img src="assets/profile-image.png">
                          <div>
                            <span class="user-name"> Sai Govardhan J</span> <br>
                            <span class="user-timing"> 2 days ago</span>
                          </div>
                        </div>
                        <div class="fakeimg"><img src="assets/back-2.png"
                            class="img-fluid"></div>
                        <div class="pt-3">
                          <p style="margin: 0px !important"><span class="para-heading-home">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span></p>
                          <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                       
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-6 col-sm-12 col-md-6 col-12 col-xl-6 right">
                    <div >
                      <div class="card back-col">
                        <div class="card-title">
                          <img src="assets/profile-image.png">
                          <div>
                            <span class="user-name"> Saiamritesh</span> <br>
                            <span class="user-timing"> 2 days ago</span>
                          </div>
                        </div>
                        <div class="fakeimg"><img src="assets/back-4.png"
                            class="img-fluid"></div>
                        <div class="pt-3">
                          <p style="margin: 0px !important"><span class="para-heading-home">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span></p>
                          <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                       
                      </div>
                    </div>

                  </div>
                
                </div>
              </div>

            </div>

          </div>
         </div>

      </div>
    </div>

  </section>
  <footer>
    <p>Copyright Omgiva 2022</p>
  </footer>