<section>
  <div>

    <div class="mob bg order-1 order-md-2 mob-pad-top">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-10 col-lg-10 col-md-10 mg-tp-7" >
            <a routerLink="/"> <span class="logo mob logo-need-help"> <img src="assets/logo.png" class="img-fluid" /> <span class="mob-logo-text"> OMGIVA </span></span></a>
            <img src="assets/need-help.svg" class="img-fluid hgt-img need-help-image mob" alt="Sample image">
          </div>
        </div>
      </div>

    </div>
    <div class="contents">
      <div class="container">
        <div class="row  justify-content-center">

          <div class="col-12">
            <a  routerLink="/"> <span class="logo mb-5 web"> <img src="assets/logo.png" class="img-fluid" /> OMGIVA</span></a>

            <img src="assets/need-help.svg" class="img-fluid hgt-img web-img web need-help-image" alt="Sample image">
           
            <h5 class="text-center h5-head">Need any Help?</h5>
            <div *ngIf="details" class="text-center para-help" [innerHtml]="details.body"> </div>
          </div>
          <div class="col-12 ">
          </div>
        </div>
      </div>
      <div class="footer"> 
        <p class="footer-para">Copyright Omgiva 2022</p>
              </div>
    </div>
    
  </div>
</section>