<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="search-div mob">
        <input class="form-control search-input-1 search-input-mobile" onkeydown="charCount()" placeholder="search"> <i
          class="fa fa-search"></i>
      </div>
    </div>
  </div>


  <!-- <div id="carouselExampleIndicators" class="carousel slide container carousel-spacing" data-ride="carousel"> -->
  <div id="demo" class="carousel slide container carousel-spacing web" data-bs-ride="carousel" *ngIf="allCarousels">
    <div class="carousel-inner">
      
      <div class="carousel-item active" *ngFor="let item of allCarousels">
        <div class="row">

          <div class="col-md-4 ">
            <div class="card">
              <div class="card-body carousel-card-body">
                <img class="img-card" src="assets/vuesax-bold-gallery.svg">
                <p class="card-text">{{item.title}} </p>

              </div>

            </div>
          </div>
        </div>
      </div>
     

    </div>
    <button class="carousel-control-prev web" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-prev-icon"> <i class="fa fa-angle-left"></i> </span>
    </button>
    <button class="carousel-control-next web" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-next-icon"> <i class="fa fa-angle-right"></i></span>
    </button>
  </div>
  <div id="demo" class="carousel slide container carousel-spacing mob" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let item of allCarousels">
        <div class="row">

          <div class="col-md-12 ">
            <div class="card">
              <div class="card-body carousel-card-body">
                <img class="img-card" src="assets/vuesax-bold-gallery.svg">
                <p class="card-text">{{item.title}} </p>

              </div>

            </div>
          </div>
        </div>
      </div>
     <div class="carousel-item ">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body carousel-card-body">
                <img class="img-card" src="assets/vuesax-bold-note-text.svg">
                <p class="card-text">Lorem Ipsum is simply dummy text </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body carousel-card-body">
                <img class="img-card" src="assets/vuesax-bold-video-play.svg">
                <p class="card-text">Lorem Ipsum is simply dummy text </p>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="carousel-item">
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-body carousel-card-body">
                <img class="img-card" src="assets/vuesax-bold-gallery.svg">
                <p class="card-text">Lorem Ipsum is simply dummy text </p>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body carousel-card-body">
                <img class="img-card" src="assets/vuesax-bold-note-text.svg">
                <p class="card-text">Lorem Ipsum is simply dummy text </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body carousel-card-body">
                <img class="img-card" src="assets/vuesax-bold-video-play.svg">
                <p class="card-text">Lorem Ipsum is simply dummy text </p>

              </div>
            </div>
          </div>
        </div>
      </div> 

    </div>
  </div>
  <div class="container" *ngIf="!loader">
    <div class="row" *ngFor="let feed of allFeedDatas; let index = index">
      <div class="leftcolumn">

        <div class="card">
          <div class="card-title">
            <img class="image-avatar" src={{feed.author_avatar_url_large}}>
            <div> <span class="user-name"> {{feed.author_name}} </span> <br>
              <span class="user-timing">{{feed.content_time_created | date}}</span> </div>

          </div>
          <a (click)="changeRoute(feed.id)">
            <div class="fakeimg"><img src={{feed.cover_image}} class="img-fluid"></div>
          </a>
          <div class="pt-3">
            <p><span class="para-heading-home">{{feed.excerpt}}</span></p>
            <p class="paragraph">{{feed.description}}</p>
          </div>
          <div>
            <span class="pe-3 like-subs "  *ngIf="!loaders" (click)="createLike(feed.id, feed.user_has_liked_content, index)"> <i class="far fa-thin fa-heart" *ngIf="!feed.user_has_liked_content"></i> <i class="fas solid fa-heart"  *ngIf="feed.user_has_liked_content" ></i> {{feed.likes_count}}</span> 
            <!-- <div class="loader" > -->
            <span class="pe-3 like-subs "*ngIf="loaders" > <i class="far fa-thin fa-heart " *ngIf="!liked && index == index"></i> <i class="fas solid fa-heart "  *ngIf="liked && index == index" ></i> 
              <span  *ngIf="!liked && index == index"> {{+(feed.likes_count) - 1}}</span><span  *ngIf="liked && index == index"> {{+(feed.likes_count) + 1}}</span>
              </span> 
            <!-- </div> -->
            <span class="pe-3 like-subs"><img src="assets/vuesax-linear-messages.svg">{{feed.comments_count}}</span>
          </div>
          <div class="pt-3 post-comment">
            <textarea class="form-control search-input txta" (change)="commentSet($event.target.value)" placeholder="Post your comment."
              style="resize: none;"></textarea> <button type="button" (click)="sendComment(feed.id)" class="input-submit btn"></button>
          </div>
          <div class=" card-title" style="border-radius: 10px; border: 1px solid rgb(243, 237, 237); margin-top:1em; padding: 1em;">
            <img class="image-avatar" src={{feed.last_comment.profile_image_small}}>
            <div> <span class="user-name"> {{feed.last_comment.name}} | <span style="color: grey"> {{feed.last_comment.time | date}} </span> </span> <br>
              <span class="user-timing">{{feed.last_comment.text}}</span> </div>

          </div>
        </div>

      </div>

    </div>
    </div>
    <div class="container"  *ngIf="loader">
      <div class="row">
        <div class="leftcolumn">
  
          <div class="card   placeholder-loader">
            <div class="card-title">
  
  
            </div>
          </div>
  
        </div>
      </div>
      <div class="row">
        <div class="leftcolumn">
  
          <div class="card   placeholder-loader">
            <div class="card-title">
  
  
            </div>
          </div>
  
        </div>
      </div>
      <div class="row">
        <div class="leftcolumn">
  
          <div class="card   placeholder-loader">
            <div class="card-title">
  
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
 
    <footer>
      <p>Copyright Omgiva 2022</p>
    </footer>
