<section>
 

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="search-div mob">
                    <input class="form-control search-input-1 search-input-mobile" onkeydown="charCount()" placeholder="search"> <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
      
       
        <div class="container">
            <div class="row padding-record">
                <div class="leftcol">
                    <div class="card card-contri">
                        <!-- <div class="card-title">
                            <img src="assets/profile-image.png">
                            <div> <span class="user-name"> Jaden wilsom </span> <br>
                                <span class="user-timing">May 05, 2022 09:00 pm</span> </div>

                        </div> -->
                        <div class="fakeimg web">
                           <span> <img src="assets/kalen-emsley-Bkci_8qcdvQ-unsplash.png"
                                class="img-fluid"> </span>
                               <div class="play-btn-record"> <img src="assets/play (1).png" alt="" ></div>
                            </div>
                           
                        <div class="pt-3">
                            <p><span class="para-heading-home">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry.</span></p>
                            <p  class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining essentially unchanged.</p>
                        </div>
                  
                        
                    </div>
                </div>
                <div class="rightcol">
                    <div class="card card-contri">
                        
                        <div class="fakimg">
                           <!-- <span> <img src="assets/kalen-emsley-Bkci_8qcdvQ-unsplash.png"
                                class="img-fluid"> 
                            </span> -->
                               <div class="play-btn-record-right"> <img src="assets/Group 167.png" alt="" ></div>
                            </div>
                           
                        <div class="pt-3 slidecontainer">
                            <input type="range" min="1" max="50" value="23" id="myRange" class="slider">
                            <p><span id="demo"></span> <span id="maxdemo"></span></p>
                            <!-- <p></p> -->
                        </div>
                  
                        <div class="pt-3 play-pause-btn">
                               <span> <span class="btn " type="button"><img src="assets/Rectangle 6034.png" alt=""></span>
                              <br> Stop
                            </span>
                               <span> <span class="btn " type="button"><img src="assets/Rectangle 6035.png" alt=""></span>
                            <br> Pause
                            </span>
                        </div>
                    </div>
                </div>

            </div>
         
        </div>

    </div>
  

</section>
<footer>
    <p>Copyright Omgiva 2022</p>
</footer>