<section>
 

    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="search-div mob">
            <input class="form-control search-input-1 search-input-mobile" placeholder="search"> <i class="fa fa-times"></i>
          </div>

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="leftcolumn">
            <div class="card buttons-holder mob-directory-scroll">
              <div class="pb-3">
                <h5 style="color: #000000;">Directory</h5>
                <!-- <div style="display: flex;">
                  <a href="contact-search.html"><button class="btn contacts-btn">Contacts</button></a>
                  <a href="post-search.html"> <button class="btn post-btn">Post</button> </a>
                </div> -->
              </div>
              <div class="web">
              <div class="row  directory-grid">
                
                <div class="col-md-3" *ngFor="let user of feed">
                    <div class="card directory-card">
                        <div class="card-img-block">
                            <img class="img-fluid" src="assets/kalen-emsley-Bkci_8qcdvQ-unsplash.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-1.png" alt="profile-image" class="profile"/>
                            <h5 class="card-title">{{user.name}}</h5>
                            <p class="card-text">{{user.profile_meta[0].elements[0].value}}</p>
                            <span> {{user.email}}</span>
                            <div class="icon-block"><a (click)="changeRoute(user.id)"><button class="btn btn-vw-profile">View Profile</button></a></div>
                        </div>
                    </div>
                    
                </div>
                
                
                
                
                
              </div>
              
              
              <ul class="pagination justify-content-end">
                <li class="page-item"><a class="page-link" href="javascript:void(0);">&#xFF1C;</a></li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">&#xFF1E;</a></li>
              </ul>
            </div>
              <div class="mob ">
              <div class="mob-directory">
                <div class="card" *ngFor="let user of feed">
                <div class="chip">
                    <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-1.png" alt="Person" width="96" height="96">
                    {{user.name}}
                  </div>
                  <div class="row">
                    <div class="col-6">
                        <h6>Job Title</h6>
                        <p>{{user.profile_meta[0].elements[0].value}}</p>
                    </div>
                    <div class="col-6">
                        <h6>Orginaization</h6>
                        <p>{{user.profile_meta[0].elements[2].value}}</p>
                    </div>
                    <div class="col-6">
                        <h6>Department</h6>
                        <p>{{user.profile_meta[0].elements[1].value}}</p>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
                </div>
                <div class="card">
                    <div class="chip">
                        <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-1.png" alt="Person" width="96" height="96">
                        John Doe
                      </div>
                      <div class="row">
                        <div class="col-6">
                            <h6>Job Title</h6>
                            <p>General Manager</p>
                        </div>
                        <div class="col-6">
                            <h6>Orginaization</h6>
                            <p>Ithaca College Pack</p>
                        </div>
                        <div class="col-6">
                            <h6>Department</h6>
                            <p>#CIM</p>
                        </div>
                        <div class="col-6">
    
                        </div>
                    </div>
                    </div>
                    <div class="card">
                        <div class="chip">
                            <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-1.png" alt="Person" width="96" height="96">
                            John Doe
                          </div>
                          <div class="row">
                            <div class="col-6">
                                <h6>Job Title</h6>
                                <p>General Manager</p>
                            </div>
                            <div class="col-6">
                                <h6>Orginaization</h6>
                                <p>Ithaca College Pack</p>
                            </div>
                            <div class="col-6">
                                <h6>Department</h6>
                                <p>#CIM</p>
                            </div>
                            <div class="col-6">
        
                            </div>
                        </div>
                        </div>
                        <div class="card">
                            <div class="chip">
                                <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-1.png" alt="Person" width="96" height="96">
                                John Doe
                              </div>
                              <div class="row">
                                <div class="col-6">
                                    <h6>Job Title</h6>
                                    <p>General Manager</p>
                                </div>
                                <div class="col-6">
                                    <h6>Orginaization</h6>
                                    <p>Ithaca College Pack</p>
                                </div>
                                <div class="col-6">
                                    <h6>Department</h6>
                                    <p>#CIM</p>
                                </div>
                                <div class="col-6">
            
                                </div>
                            </div>
                            </div>
                            <div class="card">
                                <div class="chip">
                                    <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-1.png" alt="Person" width="96" height="96">
                                    John Doe
                                  </div>
                                  <div class="row">
                                    <div class="col-6">
                                        <h6>Job Title</h6>
                                        <p>General Manager</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>Orginaization</h6>
                                        <p>Ithaca College Pack</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>Department</h6>
                                        <p>#CIM</p>
                                    </div>
                                    <div class="col-6">
                
                                    </div>
                                </div>
                                </div>
                                <div class="card">
                                    <div class="chip">
                                        <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-1.png" alt="Person" width="96" height="96">
                                        John Doe
                                      </div>
                                      <div class="row">
                                        <div class="col-6">
                                            <h6>Job Title</h6>
                                            <p>General Manager</p>
                                        </div>
                                        <div class="col-6">
                                            <h6>Orginaization</h6>
                                            <p>Ithaca College Pack</p>
                                        </div>
                                        <div class="col-6">
                                            <h6>Department</h6>
                                            <p>#CIM</p>
                                        </div>
                                        <div class="col-6">
                    
                                        </div>
                                    </div>
                                    </div>
                                    <div class="card">
                                        <div class="chip">
                                            <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-1.png" alt="Person" width="96" height="96">
                                            John Doe
                                          </div>
                                          <div class="row">
                                            <div class="col-6">
                                                <h6>Job Title</h6>
                                                <p>General Manager</p>
                                            </div>
                                            <div class="col-6">
                                                <h6>Orginaization</h6>
                                                <p>Ithaca College Pack</p>
                                            </div>
                                            <div class="col-6">
                                                <h6>Department</h6>
                                                <p>#CIM</p>
                                            </div>
                                            <div class="col-6">
                        
                                            </div>
                                        </div>
                                        </div>
                
              </div>
            </div>
            
            </div>

          </div>
          
        </div>

      </div>
    </div>

  </section>

  <footer>
    <p>Copyright Omgiva 2022</p>
  </footer>