<section> 
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="search-div mob">
                    <input class="form-control search-input-1 search-input-mobile" onkeydown="charCount()" placeholder="search"> <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
      
       
        <div class="container">
            <div class="row padding-record">
                <div class="leftcol-chat">
                    <div class="card card-chat">
                        
                        <div class="fakeimg">
                           <span class="web"> <img src="assets/Group-left.png"
                                class="img-fluid"> </span>
                                <span class="mob chat-side-mob"> <a href="chat-with-user.html"> <img src="assets/Group-left.png"
                                    class="img-fluid"></a> </span>
                               <!-- <div class="play-btn-record"> <img src="assets/play (1).png" alt="" ></div> -->
                            </div>
                           
                        
                  
                        
                    </div>
                </div>
                <div class="rightcol-chat web">
                    <div class="card card-chat">
                        
                        <div class="fakimg-chat">
                           <span> <img src="assets/Group-right.png"
                                class="img-fluid"> 
                            </span>
                               <!-- <div class="play-btn-record-right"> <img src="assets/Group 167.png" alt="" ></div>
                            </div> -->
                           
                        
                    </div>
                </div>

            </div>
         
        </div>

    </div>
    </div>
</section>
<footer>
    <p>Copyright Omgiva 2022</p>
  </footer>