<section>
   

    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="search-div mob">
            <input class="form-control search-input-1 search-input-mobile" placeholder="search"> <i class="fa fa-search"></i>
          </div>

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="leftcolumn">
            
              
              <div class="web">
              <div class="row  directory-grid">
                
                <div class="col-md-12">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid" src="assets/kalen-emsley-Bkci_8qcdvQ-unsplash.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                           <span class="profile"> <img src="assets/directory/jurica-koletic-7YVZYZeITc8-unsplash-10@2x.png" alt="profile-image" />
                            <h5 class="card-title">John Doe</h5> </span>
                            
                            
                            <!-- <div class="icon-block"><button class="btn btn-vw-profile">View Profile</button></div> -->
                        </div>
                    </div>
                   
                    
                </div>
                
                
                    
                </div>
                
                
                
                
                
              </div>

              <div class="card buttons-holder web mt-4">
                <div class="pb-3">
                    <h5 style="color: #000000;" class="mb-3">Profile Details</h5>
                    <div class="row">
                        <div class="col-md-4"> <p class="mb-0"> Job Title </p> <span style="color: #2565AF; font: normal normal normal 14px/21px Poppins;">General Manager</span></div>
                        <div class="col-md-4"><p class="mb-0">Orginaization </p><span style="color: #2565AF; font: normal normal normal 14px/21px Poppins;">Ithaca College Pack</span> </div>
                        <div class="col-md-4"><p class="mb-0">Department</p><span style="color: #2565AF; font: normal normal normal 14px/21px Poppins;">#CIM</span></div>
                    
                    </div>
                  </div>
            </div>
              
            
              
            
              
           
            </div>

          </div>
          
        </div>

      </div>
  </section>
  <footer>
    <p>Copyright Omgiva 2022</p>
  </footer>