<section>
   

    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="search-div mob">
            <input class="form-control search-input-1 search-input-mobile" placeholder="search"> <i class="fa fa-times"></i>
          </div>

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="leftcolumn">
            <div class="card buttons-holder">
              <div class="pb-3">
                <p style="color: #000000;">Search Results</p>
                <div style="display: flex;">
                 <button class="btn contacts-btn" >Contacts</button>
                  <a > <button class="btn post-btn" (click)="navPost()">Post</button> </a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr class="table-header-row">
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Guid</th>
                      <th>Last Seen</th>
                      <th>Groups</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detail of details">
                      <td>{{detail.id}}</td>
                      <td>{{detail.name}}</td>
                      <td>{{detail.email}}</td>
                      <td>{{detail.guid}}</td>
                      <td>{{detail.time_created | date}}</td>
                      <td>0</td>
                      <td><button class="icon-button btn"><i class="fa-solid fa-ellipsis-vertical"></i> </button> </td>
                    </tr>

                   
                  </tbody>
                </table>
              </div>

            </div>

          </div>
          </div>

      </div>
    </div>

  </section>

  <footer>
    <p>Copyright Omgiva 2022</p>
  </footer>